@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
    font-family: 'Poppins';
    font-size: 10px;
}
*{padding: 0;
margin: 0;}

#cajamadre{
width: 100%;
height: 400px;
display: flex;
flex-direction: row;
background-color: #db4b4c;
}
#regis{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;  
}
#lic{
 display: flex;
 flex-direction:row;
 justify-content:flex-end;
 align-items: end;
}
.topro{
    position:absolute;
    bottom: 77%;
    left: 26.5%;
    font-size:750%;
    font-weight: 800;
    color: #ffff;

}
.topro1{
    position: absolute;
    bottom: 67%;
    left: 29.8%;
    font-size: 750%;
    font-weight:800;
    color: #ffff;
}
#bati{
    height: 354px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: end;
   }
   
#licu{
    position: absolute;
   
    height: 28%;
    left: 65%;
    bottom: 65%;
}
#batimano{
    position:absolute;
    height: 28%;
    left: 75%;
    bottom: 68%;
}
#plancha{
    position: absolute;
    height: 28%;
    left: 72%;
    bottom: 50%;
}
.estructura{
    height: 320px;
    object-fit: cover;
}