@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body {
    font-family: 'Poppins';
    font-size: 10px;
    font-style: bold;
}
* {padding: 0;
    margin: 0;
}

#cajamadre{
    width: 100%;
    /*height: 400px;*/ /*barra roja del inicio*/
    background-color: #db4b4c;
    }

#regis{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
}


/*estrellas de calificacion NO BORRAR*/
.stars {
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .stars span {
    transition: color 0.3s;
  }
  
  .stars span:hover,
  .stars span:hover ~ span {
    color: #db4b4c;
  }
  
  .stars.clicked span {
    color: #db4b4c;
  }
/*estrellas de calificacion*/
.estructura{
    height: 320px;
    object-fit: cover;
}

/* Ajusta las imágenes de las cards para que no se deformen ni se corten */
.card-img-top.estructuras {
    width: 100%;
    height: 180px;         /* Ajusta este valor según el alto que prefieras */
    object-fit: contain;   /* Cambia a 'cover' si prefieres que se recorte y llene el espacio */
    background: #fff;      /* Fondo blanco para imágenes más pequeñas */
    padding: 10px;         /* Opcional: agrega espacio interno */
    border-radius: 10px;   /* Opcional: bordes redondeados */
}